.back {
    background-color: white;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}
.btn {
    width: 100px;
    height:30px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    margin-top: 3%;
}